body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ffb3d9, #add8e6); 
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    color: #600645;
}

/* Styling untuk input text dan number */
input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #5377ec;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

/* Styling khusus untuk input number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    background-color: #ff6fa1;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffaf85;
}

.result {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: #ffe4ec;
    color: #333;
    font-weight: bold;
}

.error {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: #ffcccc;
    color: red;
    font-weight: bold;
}
